<nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light"
     id="ftco-navbar">
    <div class="container d-flex align-items-stretch">
        <div class="col-3 d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'mainsite:index' %}">Spring<span>Church</span></a>
        </div>
        <div class="col-9 d-flex align-items-center text-right">
            <ul class="ftco-social mt-2 mr-3">
                <li class="ftco-animate">
                    <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                    <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                    <a href="#"><span class="icon-instagram"></span></a>
                </li>
            </ul>
            <button class="navbar-toggler d-flex align-items-center"
                    type="button"
                    data-toggle="collapse"
                    data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="pt-1 mr-1">Menu</span> <span class="oi oi-menu"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                {% comment %} active 使用 javascript 解析 url {% endcomment %}
                <li class="nav-item active">
                    <a href="{% url 'mainsite:index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:about' %}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:ministry' %}" class="nav-link">Ministries</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:sermons' %}" class="nav-link">Sermons</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:events' %}" class="nav-link">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:blog' %}" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:contact' %}" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
